@import '~bulma/bulma';

:root {
  --header-height: 3.25rem;
  --header-margin: 1rem;
}

.content {
  .table {
    td, th {
      vertical-align: middle;
    }
  }
}

a {
  code {
    &:hover {
      color: inherit;
    }
  }
}

code {
  padding: 0.125em 0.25em 0.125em;

  a {
    color: inherit;
  }
}
