@import '~bulma/sass/utilities/derived-variables';

.Header {
	height: var(--header-height);
	position: sticky;
	top: 0;
	display: flex;
	z-index: 5;
	align-items: center;

	a {
		color: $text;
	}
	
	i {
		font-size: 1.25rem;
		
		&:global(.fa-github) {
			&:hover {
				opacity: 0.5;
			}
		}
	}
}

.HeaderBrand {
	flex: 0 1 auto;
}

.HeaderNav {
	flex: 1 0 auto;
	display: flex;
	justify-content: flex-end;
}

.HeaderItem {
	margin: 0 1rem;
}
