@import '~bulma/sass/utilities/mixins';

.Navigation {
	@include touch {
		&:not(.expanded) {
			display: none;
		}
	}
	
	/*
	> ul {
		position: sticky;
		top: var(--header-height);
		overflow: auto;
		height: calc(100vh - var(--header-height));
	}
	*/
}

.NavigationWrapper {
	position: sticky;
	top: var(--header-height);
	overflow: auto;
	height: calc(100vh - var(--header-height));
	margin-left: 1rem;
}
