.StyleWrapper {
  :global {
    .react-aria-widgets-accordion-panel[data-expanded=false] {
      display: none;
    }

    .custom-accordion-panel[data-expanded=false] {
      display: none;
    }

    .another-custom-panel.collapsed {
      display: none;
    }
  }
}
